
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/JasonElectricBoog.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/employees.cpython-310.pyc
__pycache__/JsonGene.cpython-310.pyc
